body {margin: 0; 
     padding: 0;
	 box-sizing: border-box;
     background-image: url(../imagenes/nubes.png);
     background-attachment: fixed;
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
	 background-color: #ffcaca;
	 display: flex; 
}

img {background-color: red;}

.btn-wsp {position: fixed; height: 50px;  width: 50px;

line-height: 50px; bottom: 60px; right: 60px

 }

.centertext {text-align:center;}

.Important {color:#72002E; text-decoration: underline; text-align:center;} 

.textsize {font-size: 18px; text-align:center;}

.imagecenter {display: flex; justify-content: center;}

.imagesize { height: 350px; width: 800px;}

.imagesize2 { height: 100px; width: 100px;}

.imagesize3 { height: 130px; width: 200px;}


.imgAdapt {display: flex; justify-content: center; width: 80%; background-color: blue; background-position: center;}

.imgAdapt2 {display: flex; justify-content: center; width: 50vw}

.imgAdapt3 {display: flex; justify-content: center; width: 90vw}


.colortex {font-family: 'Pacifico', cursive; color: white; text-shadow: 1px 1px 2px black; font-size: 80px}

.pacifico {font-family: 'Pacifico', cursive; color: white; text-shadow: 1px 1px 2px black; font-size: 15px}

.logo {height: 200px; width: 200px }

.logosize {height: 80px; width:80px;}


header { display: flex; justify-content: space-around; background-image:url(../imagenes/nuevo-fondo.jpg); background-position: center;
background-size: cover; align-items: center; flex-wrap: wrap;}

footer {display: flex; justify-content: space-around; background-image: url(../imagenes/nuevo-fondo.jpg); background-position: center; background-size: cover;
padding: 20px; align-items: center; flex-wrap: wrap;
}

.info {background-image: url(../imagenes/CiudadArgentina.jpg);background-size: cover; height: 170px; width: 300px; padding: 15px;}

.contenedor {display: flex; align-items: center; justify-content: center; background-color: red; flex-wrap: wrap;}

nav {margin-top: 20px;
 }
